
  .boton{
    width: 20px;
    height:  0 auto;
    background-color: pink;
    border: none;
    border-radius: 10%;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
  }

  .botonAdd{
    width: 0 auto;
    height:  0 auto;
    background-color: pink;
    border: none;
    border-radius: 10%;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
  }

  .parrafo{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }