h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.parrafo{
    font-size: 14px;
}

.imagen{
    width: 150px;
    height: auto;
    border-radius: 5%;
}

.estilo{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}